<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>TripAdvisor Predicting Rating From Review</title>
  <link href='https://fonts.googleapis.com/css?family=Arial' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arial' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body background="32b877ed4aa7778cc7d43ebb7d95a6f1.png";>
 <div style="text-align:center;font-size:35px;" class="login">
	<h1>TripAdvisor Predicting Rating From Review</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="review" placeholder="Review" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
